@import url(./_active/header__lang-item_active.css);

/* --- General styles --- */
.header__lang-item {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

/* --- 320 or less --- */
@media screen and (max-width: 320px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 24px;
    }
}

