.page {
    margin: 0;
    min-width: 320px;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Helvetica', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}