.page {
    /* только для pixel perfect */
    width: 100vw;
    
    /* width: 100%; */
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Helvetica', sans-serif;
    color: #fff;
}