@import url(./_bg/photo-grid__item_bg_train.css);
@import url(./_bg/photo-grid__item_bg_icepeak.css);
@import url(./_bg/photo-grid__item_bg_fog.css);
@import url(./_bg/photo-grid__item_bg_forest.css);
@import url(./_bg/photo-grid__item_bg_wheel.css);
@import url(./_bg/photo-grid__item_bg_baikalbeach.css);
@import url(./_bg/photo-grid__item_bg_elbrus.css);
@import url(./_bg/photo-grid__item_bg_breakwater.css);
@import url(./_bg/photo-grid__item_bg_kamchatka.css);
@import url(./_bg/photo-grid__item_bg_klyuchevckaya.css);
@import url(./_bg/photo-grid__item_bg_baikalhigh.css);
@import url(./_bg/photo-grid__item_bg_ergaki.css);

.photo-grid__item {
    padding-bottom: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }