/* --- General styles --- */
.footer__link {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

/* --- Small devices --- */
@media screen and (max-width: 760px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}