@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 48px 68px;
    min-height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    position: relative;
}