@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 460px auto;
    grid-auto-flow: column;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin-bottom: 90px;
}

.place:last-of-type {
    margin-bottom: 0;
}