.place__url-heading {
    margin: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}