/* --- General styles --- */
.intro__title {
    margin: 0;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

/* --- Small mobile devices --- */
@media screen and (max-width: 720px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
